version: '3.8'

services:
  zeek:
    build: .
    volumes:
      - ./modules/00-pcap-forensics/sample-pcaps:/pcap-input
      - ./modules/00-pcap-forensics/logs:/logs
      - ./modules/00-pcap-forensics/scripts:/scripts
      - ./modules/00-pcap-forensics/config/local.zeek:/usr/local/zeek/share/zeek/site/local.zeek
    command: ["/bin/bash", "-c", "/scripts/process_pcap.sh"]

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.12.0
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ./modules/00-pcap-forensics/logs:/logs
      - ./modules/00-pcap-forensics/sample-pcaps/:/sample-pcaps/
    depends_on:
      - elasticsearch

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    ports:
      - "5601:5601"
volumes:
  elasticsearch_data:
